<form action="{{ path('app_quick_checkout', {'variantId': product.variants.first().id}) }}" method="post">
    <button type="submit" class="ui huge icon labeled button"><i class="bolt icon"></i> Quick checkout</button>
</form>
